<h1><%= project.title %></h1>

<h3>Post a new entry</h3>
<form action="/projects/<%= project._id %>" method="POST">
  <label for="title">Title</label>
  <input id="title" type="text" name="title" required>
  <label for="description">Description</label>
  <input id="description" type="text" name="description" required>
 <button type="submit">Submit</button>
</form>

<% entries.forEach(entry => { %>
<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= entry.title %></h4>
    <p class="card-subtitle mb-2 text-muted"><%= entry.writtenDate%></p>
    <p class="card-text"><%= entry.description %></p>
  </div>
</div>
<%}); %>