<div class="d-flex flex-column align-items-center">
  <h1><%= project.title %></h1>

  <form class="card w-50" id="new-entry" action="/projects/<%= project._id %>" method="POST">
    <div class="card-body">
      <h3 class="card-title">What did you do today?</h3>
      <div class="card-text" id="entry-title"><input id="title" type="text" name="title" placeholder="Title" required>
      </div>
      <div class="card-text" id="entry-description"><textarea id="description" type="text" name="description"
          placeholder="Talk about what you accomplished and how you did it" required></textarea></div>
      <button class="btn btn-primary" id="entry-submit" type="submit">Submit</button>
    </div>
  </form>


  <% entries.forEach(entry => { %>
  <div class="card w-50 entry-card">
    <img class="card-img-top" src="<%= randImgs[Math.floor(Math.random() * (randImgs.length - 0 + 1) + 0)] %>"
      style="max-height: 500px; max-width: 500px;">
    <div class="card-body">
      <h4 class="card-title"><%= entry.title %></h4>
      <p class="card-subtitle mb-2 text-muted"><%= entry.writtenDate%></p>
      <p class="card-text"><%= entry.description %></p>
      <div>
        <a class="btn" href="/projects/<%= entry._id %>/edit">Edit</a>
        <a class="btn btn-danger" href="/projects/<%= project._id%>/<%= entry._id %>?_method=DELETE">Delete</a>
      </div>
    </div>
  </div>
  <%}); %>
</div>