<!DOCTYPE html>
<html>

<head>
  <title>Skriftr</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/journal.css">

</head>

<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="/">Project Journal</a> -->
    <% if (loggedIn) { %>
    <a class="navbar-brand" href="/users/profile">Hi, <%= currentUser.name.first %></a>
    <% } %>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a href="/projects" class="nav-link">My Projects</a>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link">About</a>
      </li>
      <% if (loggedIn) { %>
      <li class="nav-item">
        <a href="/users/logout" class="nav-link">Log Out</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a href="/users/login" class="nav-link">Log In?</a>
      </li>
      <% } %>
      <li class="flashes nav-item" id="flashes-nav">
        <% if(flashMessage[Object.keys(flashMessage)]) { %>
        <div class="flash nav-link alert-<%=Object.keys(flashMessage)%>" role="alert">
          <%=flashMessage[Object.keys(flashMessage)]%></div>
        <% } %>
    </ul>
  </div>
</nav>
<div class="flashes" id="flashes-under">
  <% if(flashMessage[Object.keys(flashMessage)]) { %>
  <div class="flash nav-link alert-<%=Object.keys(flashMessage)%>" role="alert">
    <%=flashMessage[Object.keys(flashMessage)]%></div>
  <% } %>
</div>

<body id="main-container">
  <%- body %>
  <!-- footer -->
</body>

</html>