<div class="container" id="user-profile-container">
  <div class="row">
    <div class="row">
      <h2 id="user-profile-title">Your Information</h2>
    </div>
    <div class="col">
      <h3 id="profile-user-fullName">Full name: <%= currentUser.fullName %></h3>
      <p>Joined: <%= currentUser.createdAt.toDateString() %></p>
    </div>
    <div class="col" id="user-profile-options-col">
      <p><a href="/users/reset-password" class="btn btn-info" id="profile-change-password">Change My Password</a></p>
      <p><a href="#" id="delete-account-link">How do I delete my account?</a></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <h3 id="profile-project-list-header">You have You have <%= projects.length %> projects, and <%= entries.length %>
      total entries.
      <% if (projects.length < 1){ %>
      <a href="/projects/new-project">Why not start one?</a>
      <% } %>
    </h3>
  </div>

  <% projects.forEach(project => { %>
  <div class="row" id="user-profile-project-row">
    <div class="col">
      <p class="user-profile-project-details"><a class="user-profile-project-link"
          href="/projects/<%= project._id %>"><%= project.title %></a>, which has <%= project.entries.length %>
        entries </p>
    </div>
    <div class="col user-profile-delete-project-col">
      <p><a class="btn btn-danger delete-project-button" href="/projects/<%= project._id%>/delete-confirm">Delete this
          project</a>
      </p>
    </div>
  </div>
  <% }) %>
</div>