<div class="d-flex flex-column align-items-center">
  <h2><%= currentUser.fullName %></h2>
  <h3>Your information:</h3>
  <p>Name: <%= currentUser.name.first %> <%= currentUser.name.middle %> <%= currentUser.name.last %></p>
  <p>Joined: <%= currentUser.createdAt.toDateString() %></p>
  <a href="/users/reset-password"><div class="btn btn-info">Change My Password</div></a>
  <% if (currentUser.projects.length > 0) { %>
  <h4>You have <%= projects.length %> projects</h4>
  <% projects.forEach(project => { %>
  <h6><a href="/projects/<%= project._id %>"><%= project.title %></a>, which has <%= project.entries.length %> entries
  </h6>
  <% })} %>
  <h4>You have <%= entries.length %> total entries</h4>
</div>
